@page "/"

<PageTitle>Home</PageTitle>

<div class="counter-bdg badge rounded-pill text-bg-primary">
    @if(AssignedRenderMode is null)
    {
        <span>Static</span>
    }
    else if (AssignedRenderMode == InteractiveServer)
    {
        <span>Server</span>
    }
    else if (AssignedRenderMode == InteractiveWebAssembly)
    {
        <span>WebAssembly</span>
    }
    else if (AssignedRenderMode == InteractiveAuto)
    {
        <span>Auto</span>
    }
</div>

<div class="counter-bdg badge rounded-pill text-bg-success">
    <span>@RendererInfo.Name</span>
</div>

<h1>Hello, world!</h1>

Welcome to your new app.